.dropdown-menu>li>a {
    background: #fff !important;
}
.dropdown-menu>li>a:hover {
    background: #ddd !important;
}
.nav>li>a:hover {
    background: #ddd !important;
    color: #fff !important;
}
.charts, .tabs {
    margin-top: 70px;
}
.charts p {
    font-size: 20px;
    text-align: center;
}

.added_block_subscribers {
    text-align: center;
}
.added_block_subscribers .bL_all_users_bl_gl {
    font-size: 0;
    text-align: left;
}
.bL_all_users_bl_gl div {
    font-size: 15px;
}
.bl_all_users_id {
    width: 5%;
    display: inline-block;
}
.bl_all_users_data {
    width: 15%;
    display: inline-block;
}
.bl_all_users_email {
    width: 15%;
    display: inline-block;
}
.bl_all_users_attr {
    width: 15%;
    display: inline-block;
}
.bl_all_users_bl {
    width: 15%;
    display: inline-block;
}
.bl_all_delete_us {
    font-size: 13px;
    width: 15%;
    display: inline-block;
}
div#block_user_add_bl {
    width: 100%;
    max-width: 500px;
    display: block;
}
input#name_em {
    width: 100%;
}
button#block_user_add {
    margin-top: 15px;
    margin-bottom: 50px;
}
.bl_all_bl_all {
    width: 15%;
    display: inline-block;
}
.bL_all_users_bl_gl.yostings_rg {
    margin-bottom: 23px;
    display: block;
}

.email_admin.email {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 23px;
}
#block_user_add_bl_settings .email_user_sl {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    width: 50%;
    font-size: 15px;
}
button#block_user_add_admin {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    width: 13%;
    font-size: 15px;
}





















