.yotpo_reviews__icon {
    background: #df7677;
    color: white;
    font-size: 21px;
    padding: 11px 12px;
    max-width: 45px;
    text-align: center;
    border-radius: 50%;
    font-weight: initial;
    display: inline-block;
    vertical-align: top;
    width: 7%;
    position: relative;
    font-weight: bold;
    text-transform: uppercase !important;
    min-width: 45px;
}
.all_customs_category {
    font-size: 0;
    margin-top: 10px;
}
span.y-label.yotpo-user-title.yotpo-action-hover {
    font-size: 12px;
    color: #a2a2a2;
    min-width: 100px;
    width: auto;
    text-align: start;
    display: inline-block;
    font-weight: normal;
    float: none;
    font-family: Arial;
    margin-left: 4px;
}
.yotpo_reviews__product_name span {
    font-size: 13px;
    color: #a2a2a2;
}

.yotpo_reviews__ovner {
    padding: 25px 0 2px 0px;
    margin: 0;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    font-size: 0;
}
.next_arrows_outer .owl-item div a {
 //  color: #737373 !important;
}
.next_arrows_outer .owl-item.active.center div a {
    display: block;
    /*color: #ca1a1d !important;*/
}
.next_arrows_outer .all_block_items_category {
    cursor: default;
}
.next_arrows_outer .all_block_items {
    cursor: default;
}
.yotpo_category_arrows .owl-stage-outer {
    top: -4px;
}
aside#shortcodes-ultimate-3 .owl-item {
    /*width: 100% ! important;*/
    /*!* display: inline-block; *!*/
    /*!* box-sizing: content-box; *!*/
    /*max-width: 239px;*/
    /*width: 21%;*/
    /*text-align: center;*/
    /*margin: 0 auto !important;*/
    /*text-align: center !important;*/
}
.next_arrows_outer aside#shortcodes-ultimate-3 .owl-carousel .owl-nav button.owl-next,
.next_arrows_outer .owl-carousel .owl-nav button.owl-prev,
.next_arrows_outer .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    width: 21px;
    height: 21px;
    background: red;
    margin: 5px;
    border-radius: 50%;
}
.next_arrows_outer aside#shortcodes-ultimate-3 .owl-carousel .owl-dots.disabled,
.next_arrows_outer .owl-carousel .owl-nav.disabled{
    /*display: block !important;*/
}
.next_arrows_outer aside#shortcodes-ultimate-3 .owl-stage {
    /* width: 300px !important; */
    transform: none !important;
}

.yotpo_reviews__other {
    display: inline-block;
    vertical-align: top;
    width: 93%;
    font-size: 14px;
    padding: 0px 15px 15px 15px;
    position: relative;
}
.yotpo_reviews__product_name a {
    font-size: 13px;
    color: #a2a2a2;
}
.yotpo_reviews__title {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
}
.yotpo_reviews__content {
    color: #4f4f4f;
    font-size: 14px;
    line-height: 18px;
}
.yotpo_reviews__name {
    color: #ca1a1d;
    font-weight: bolder;
    width: 70%;
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 15px;
    text-align: left;
}
.slider.single-item.slick-initialized.slick-slider.slick-vertical {
    width: 100%;
}
.yotpo_reviews__info {
    font-size: 0;
    text-align: center;
    margin: 0 auto;
}
.slick-track {
    padding-top: 80px;
}
button.slick-next.slick-arrow {
    position: absolute;
    width: 19px;
    height: 21px;
    top: 50%;
    color: transparent;
    right: 0;
    background: url(/wp-content/plugins/Yotpo%20Custom%20Settings/assets/img/right_arrows.png) no-repeat;
    background-size: contain;
    border: none;
}
.yotpo-tool-tip {
    font-size: 15px;
    position: absolute;
    top: 10%;
    left: 15.5%;
    height: auto;
    padding: 20px;
    border: solid 1px #e3e3e3 !important;
    max-width: 300px;
    width: 70%;
    background: #fff;
    z-index: 20;
}
.product-title-wrapper .col-lg-12.col-md-12 {
    margin: 0 !important;
}
.tool-tip-header span {
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal !important;
    font-size: 14px;
    line-height: 17px;
    /* text-transform: uppercase; */
    font-weight: bold;
}
span.header-green {
    color: #1cc286 !important;

}
.tool-tip-header:first-child {
    color: #a2a2a2 !important;
}
button.slick-prev.slick-arrow {
    position: absolute;
    color: transparent;
    width: 19px;
    height: 21px;
    top: 50%;
    background: url(/wp-content/plugins/Yotpo%20Custom%20Settings/assets/img/left_arrows.png) no-repeat;
    background-size: contain;
    border: none;
    z-index: 9999;
}
.slick-list.draggable {
    padding: 30px !important;
    box-sizing: content-box !important;
}
li.after {
    display: inline-block;
}
.slick-dots li button {
    height: inherit;
    width: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.yotpo-tool-tip {
    display: none;
}
.tool-tip-content {
    font-size: 12px;
    color: #737373;
}









.all_block_items_yo span.yotpo-icon.yotpo-icon-circle-checkmark.yotpo-action-hover:before {
    font-family: "yotpo-widget-font" !important;
    content: "\e619";
    speak: none;
    color: #1cc286;
    background: white;
    border-radius: 50%;
    position: absolute;
    font-size: 17px;
}
.slick-dots li.slick-active {
    display: inline-block;
    box-shadow: 0 0 10px 1px orange;
}
.slick-dots li {
    display: none;
    height: 30px;
    width: 30px;
    margin: 5px;
    box-shadow: 0 0 0 1px orange;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}
.yotpo_reviews__time {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #a2a2a2;
    text-align: right;
}

.all_block_items {
    display: inline-block;
    margin: 4px;
    font-size: 13px;
}
.next_arrows {
    text-align: center;
}
.next_arrows .all_block_items {
    cursor: pointer;
    font-size: 14px;
}
.next_arrows.owl-carousel.owl-theme {
    max-width: 350px;
    margin: 0 auto;
}
.next_arrows_outer .owl-item {
    padding: 0 !important;
}
.next_arrows_outer .yotpo-owl-item {
    color: #ca1a1d !important;
    font-weight: bold !important;
}
.next_arrows_outer .owl-pagination {
    display: none !important;
}
div#example_stars {
    display: inline-block;
}
.custom_all_rew a {
    color: black !important;
}

.star_custom_icons {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.star_custom_icons > i {
    display: inline-block;
    position: relative;
    width: 1.2em;
}
.star_custom_icons > i:hover:before, .star_custom_icons > i:hover ~ i:before {
   color: #ffca00;
}

.star-5 i,
.star-4 i,
.star-3 i,
.star-2 i,
.star-1 i{
    color: #ffca00;
}
.star-4 :nth-last-child(5){
    color: #222222;
}

.star-3 :nth-last-child(4),
.star-3 :nth-last-child(5){
    color: #222222;
}

.star-2 :nth-last-child(5),
.star-2 :nth-last-child(4),
.star-2 :nth-last-child(3){
    color: #222222;
}
.star-1 :nth-last-child(5),
.star-1 :nth-last-child(4),
.star-1 :nth-last-child(3),
.star-1 :nth-last-child(2){
    color: #222222;
}

.star_custom_icons i {
    cursor: pointer;
}

div#tab-description .post-ratings {
    display: none !important;
}
.single .post-ratings {
    width: 100%;
    opacity: 1;
    display: block;
}
.entry-content {
    clear: both;
}
.blog .post-ratings {
    width: 100%;
    opacity: 1;
    display: block;
    position: relative;
}
.reg_ro {
    position: absolute;
    float: left;
    clear: both;
}
ul.cg-show-announcements .post-ratings {
    display: none !important;
}
.home .post-ratings.pal_fin {
    text-align: center;
}
.home .post-ratings.pal_fin img {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    position: relative;
}
span#ratings_66277_text {
    text-align: center;
    z-index: 9;
    position: relative;
    margin: 0 auto;
    float: none;
}

span.yotpo-icon.yotpo-icon-star.pull-left:before {
    content: "\e60e";
    font-family: "yotpo-widget-font" !important;
    color: #FFD200;
}
.yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
    display: inline-block;
    max-width: 140px;
    width: 100%;
}
span.yotpo-logo-title .yotpo-icon-btn-big a:before {
    content: "\e609";
    font-family: "yotpo-widget-font" !important;
    display: inline-block;
    font-size: 32px !important;
}

span.yotpo-logo-title a {
    display: inline-block;
    vertical-align: middle;
}
.yotpo-icon-btn-big.transparent-color-btn {
    display: inline-block;
    vertical-align: middle;
}
.yotpo-label.yotpo_center__div {
    padding: 26px 7px 5px 0px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 25px;
    clear: both;
}
span.font-color-gray.based-on {
    display: block !important;
    clear: both;
    color: #a2a2a2;
    vertical-align: top;
    padding-top: 6px;
    padding-left: 0px;
    font-size: 14px;
}
.col-sm-6.text-top .email_user_sl {
    margin-top: 21px;
}
div#block_user_add_bl_settings strong {
    font-size: 19px;
}
.yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews span.yotpo-icon.yotpo-icon-star.pull-left:before {
    font-size: 27px;
}
.pull-left {
    font-size: 17.5px;
}
.helpful_div_bt_res div {
    cursor: pointer;
}
span.yotpo-icon.yotpo-icon-thumbs-up:hover {
    color: #737373;
    transition: 0.5s all;
}
span.yotpo-icon.yotpo-icon-thumbs-down:hover {
    color: #737373;
    transition: 0.5s all;
}
.col-sm-6.text-top {
    margin-top: 30px;
}
button#add_update_time {
    margin-top: 11px;
}
button#app_key_send {
    margin-top: 11px;
}
.col-sm-6.text-right {
    margin-bottom: 19px;
}
.col-sm-6.text-top .email_admin.email {
    margin-bottom: 32px;
    display: block;
}
.col-sm-6.text-top .email_admin.email {
    font-size: 19px;
    font-weight: 500;
}
button#app_secretkey_send {
    margin-top: 11px;
}
span.yotpo-icon.yotpo-icon-empty-star.pull-left:before {
    font-family: "yotpo-widget-font" !important;
    content: "\e61b";
    color: #FFD200;
}
.custom-yotpo-nav-wrapper span {
    color: #ca1a1d !important;
}
.all_star_and_content {
    font-size: 0;
    margin-right: 6px;
    margin-bottom: -13px;
}
.yotpo_block_items_level_star {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    font-size: 17.5px;
}
.yotpo_block_items_level_content {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    font-size: 15px;
}
.yotpo_block_items_level_content span {
    color: #ca1a1d;
    font-size: 11px;
}
.yotpo_block_items_level {
    max-width: 230px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
    padding: 2px 21px;
    box-sizing: content-box;
}

.yotpo_block_items_level_percent .yotpo-star-distribution-graph-score {
    background-color: #ca1a1d;
    height: 9.5px;
}
.yotpo_block_items_level_percent .yotpo-star-distribution-score-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.yotpo_block_items_level_percent .yotpo-star-distribution-graph-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}
.content-area p, .page-template-template-home-default-php #cg-page-wrap .cg-section p {
    clear: both;
}
.yotpo-label_addcategory {
    width: 100%;
    max-width: 178px;
    display: inline-block;
    vertical-align: top;
    min-width: 178px;
}

.yotpo-label_logo {
    width: 79%;
    display: inline-block;
}
.yotpobuttonlabel_addcategory {
    display: inline-block;
    text-overflow: ellipsis;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial;
    padding: 4px 15px;
    background: #a2a2a2;
    height: auto;
    margin: 0 0 5px 0;
    transition: 0.5s all;

    /* width: 25%; */
    /* max-width: 178px; */
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.yotpobuttonlabel_adcat_null {
    display: block;
    text-overflow: ellipsis;
    border: none;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    padding: 10px 15px;
    background: #a2a2a2;
    color: #fff;
    height: auto;
    margin: 0 auto ;
    max-width: 274px;
    width: 100%;
}
.yotpobuttonlabel_adcat_null:hover {
    background-color: #737373;
    transition: 0.5s all;
    cursor: pointer;
}
span.stars-wrapper .yotpo-icon:before {
    content: "\e60e";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: "yotpo-widget-font" !important;
    color: #d5484a;
    font-size: 22px;
}
.yotpo-first-review-stars {
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal !important;
    line-height: 17px;
    color: #a2a2a2;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 22px;
    margin-bottom: 23px;
}
.yotpo_cat_null {
    border-top: 1px solid rgba(0,39,59,0.08);
    padding-top: 41px;
    display: block;
}
.yotpobuttonlabel_addcategory:hover {
    background-color: #737373;
    transition: 0.5s all;
}

.tab-description {
    /*display: block !important;*/
}













span.yotpo-icon.yotpo-icon-write:before {
    content: "\e61e";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: "yotpo-widget-font" !important;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
    color: #fff;
}
.yotpobuttonlabel_addcategory span.yotpo-icon.yotpo-icon-write {
    font-family: "yotpo-widget-font" !important;
}
.yotpo_block_items_level_percent .yotpo-star-distribution-graph.yotpo-distribution-clickable.yotpo-distribution-unactive {
    vertical-align: middle;
    display: block;
    width: 85px;
    height: 10px;
    position: relative;
    margin-bottom: 9px;
}
.yotpo_block_items_level_percent .yotpo-distributions-graphs {
    display: block;
    overflow: hidden;
    width: auto;
    padding-top: 4px;
}
.yotpo_block_items_level_percent {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    position: relative;
    top: 3px;
}

.barc_yoptpo_div {
    max-width: 230px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 2px 21px;
    box-sizing: content-box;
    font-size: 12px;
}

.bars_all_yotpo {
    font-size: 0;
}

.barc_yoptpo_div .yotpo-product-related-field-score-bar.yotpo-rating-bar-full {
    background-color: #ca1a1d;
    height: 2px;
    padding: 0;
}
.barc_yoptpo_div .yotpo-product-related-field-score-divider {
    width: 1px;
    height: 6px;
    float: left;
    width: 1px;
    height: 6px;
    float: left;
}
.yotpo-clr {
    clear: both !important;
}
.barc_yoptpo_div .yotpo-product-related-field-score-bar.yotpo-rating-bar-full {
    background-color: #ca1a1d;
    height: 2px;
    padding: 0;
    width: 18px;
    height: 6px;
    float: left;
    margin-top: 6px;
}
.barc_yoptpo_div .yotpo-product-related-fields-bars {
    font-size: 14px;
    height: 10px;
}
.all_star_and_title {
    color: #a2a2a2;
    font-size: 12px;
}
.all_barc_and_title {
    color: #a2a2a2;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.all_barc_and_content {
    display: inline-block;
    vertical-align: sub;
    width: 50%;
    padding-left: 16px;
}
.yotpo-nav-wrapper {
    margin-bottom: 3px;
    font-size: 12px;
    border-bottom: 3px solid;
    border-color: #ca1a1d;
    overflow: visible;
    max-width: none;
    font-weight: bold;
    padding-bottom: 6px;
    max-width: 105px;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal !important;
    font-size: 14px;
}
.yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-stars, .yotpo .yotpo-modal-dialog .yotpo-bottomline .yotpo-stars {
    padding-right: 0 !important;
}
.yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars {
    height: 29px;
}
.yotpo_reviews__score {
    margin-top: -14px;
    margin-bottom: -2px;
}
.next_arrows_outer .owl-next {
    height: 15px !important;
    width: 15px !important;
    border: none !important;
    float: right;
    right: -22px;
    position: relative;
}
.next_arrows_outer .owl-prev {

    height: 15px !important;
    width: 15px !important;
    border: none !important;
    float: left;
    left: -9px;
    position: relative;
}
.next_arrows_outer .owl-buttons {
    top: -28px;
    position: relative;
}
.socisl_bbt {
    display: inline-block;
    vertical-align: top;
}
.shate_text_p {
    display: inline-block;
    vertical-align: middle;
}
span.yotpo-icon.yotpo-icon-share {
    display: inline-block;
    vertical-align: top;
    speak: none;
    font-size: 17.5px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    width: auto !important;
    background: none;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span.yotpo-icon.yotpo-icon-share:before {
    content: "\e60f";
    font-family: "yotpo-widget-font" !important;
}
.socisl_bbt:after {
    display: inline-block;
    font-family: "yotpo-widget-font" !important;
    content: "\e608";
    margin-left: 2px;
}

.socisl_bbt a:after {
    font-family: "yotpo-widget-font" !important;
    content: "\e607";
}
.socisl_bbt a {
    text-transform: capitalize;
}
.socisl_bbt:before {
    display: inline-block;
    font-family: "yotpo-widget-font" !important;
    content: "\e608";
}
.socisl_bbt a:last-child:after {
    content: "";
}
.socisl_bbt {
    visibility: hidden;
}

.next_arrows_outer .owl-item:first-child {
    color: #ca1a1d;
    font-weight: bold;
}
.next_arrows_outer .owl-next:before {
    height: 22px !important;
    width: 16px !important;
    border: none !important;
    /*float: right;*/
    /*left: 32px;*/
    /*position: relative;*/
    color: #d5484a !important;
    text-decoration: none !important;
    font-family: "yotpo-widget-font" !important;
    content: "\e611";
    font-size: 19px;
    /*top: -11px;*/
}
.owl-nav.disabled button.owl-prev {
    left: auto;
    margin: -11px 0 0 -32px !important;
}
.next_arrows_outer .owl-next {
     left: auto;
     margin: -11px -6px 0 0 !important;
 }
.next_arrows_outer.yotpo_category_arrows .owl-stage-outer {
    top: 12px !important;
    position: relative;
}
.next_arrows_outer .owl-prev  {
    left: auto;
    margin: -11px -6px 0 -19px !important;
}
.next_arrows_outer .owl-prev:before {
    height: 22px !important;
    width: 16px !important;
    border: none !important;
    /*float: right;*/
    /*right: 21px;*/
    /*position: relative;*/
    color: #d5484a !important;
    text-decoration: none !important;
    font-family: "yotpo-widget-font" !important;
    content: "\e613";
    font-size: 19px;
    /*top: -11px;*/
}
.owl-nav.disabled button.owl-prev {
    left: auto;
    margin: -11px 0 0 -32px !important;
}
.next_arrows_outer .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 10px;
    color: #a2a2a2;
}
.socisl_bbt_spanshare {
    display: inline-block;
    font-size: 13px;
    color: #a2a2a2;
    margin-right: 25px;
}
.yotpo_reviews__product_name div:hover {
    cursor: pointer;
    color: #ca1a1d;
}

.yotpo_reviews__product_name div a:hover {
    cursor: pointer;
    color: #ca1a1d;
}
.next_arrows_outer .owl-prev {
    opacity: 1 !important;
}
.next_arrows_outer .owl-next {
    opacity: 1 !important;
}
.all_block_items {
    opacity: 1 !important;
}

ul.custom_tabs {
    padding-left: 0px;
    margin: 0px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    height: 50px;
    margin-bottom: 20px;
}
.all_bl_archive {
    /*position: relative;*/
    /*top: 48px;*/
    /*!*margin-bottom: -74px;*!*/
    clear: both !important;
}
ul.custom_tabs li {
    list-style: none;
    margin-left: 0px;
}
ul.custom_tabs li a {
    display: inline-block;
    color: #333 !important;
    background: #fff;
    padding: 0px 26px;
    font-size: 16px !important;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    margin: 0px;
    float: left;
    position: relative;
    font-weight: 400 !important;
    line-height: 48px !important;
}
ul.custom_tabs li.active a:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 5;
    position: absolute;
    top: 48px;
    left: 45%;
    border-top-color: #ca1a1d;
}
/*.all_tabs_description_page > div {*/
     /*display: none;*/
/*}*/
.tab-video {
    display: none;
}
.tab-video {
    display: none;
}
.tab-yotpo_widget {
    display: none;
}
.tab-additional {
    display: none;
}
.tab-yotpo_returns {
    display: none;
}
li.yotpo_widget_tab {
    cursor: pointer;
}
.tab-yotpo_widget{
    display: none;
}
li.description_tab.active a {
    background: #ca1a1d;
    color: white !important;
}
.all_tabs_description {
    margin-bottom: 20px;
}
li.yotpo_widget_tab.active a {
    background: #ca1a1d;
    color: white !important;
}
.all_tabs_description_page {
    margin-bottom: 25px;
}

.next_arrows.owl-carousel {
    display: block !important;
}
/* .cg-product-info a > div {
    display: none !important;
} */
.custom_rating_ct div {
    display: inline-block;
    vertical-align: middle;
}
.custom_rating_ct #example_stars{
    margin-left: 15px;
    margin-right: 5px;
}
form.woocommerce-ordering {
    float: left;
    clear: both;
}
.custom_rating_ct {
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 13px;
    line-height: 34px;
}
.all_block_items_category.yotpo-owl-item a {
    color: #ca1a1d !important;
}
.disabled {
//    display: none !important;
}
.next_arrows_outer .owl-carousel .owl-dots.disabled,
.next_arrows_outer .owl-carousel .owl-nav.disabled{
 //   display: none !important;
}
.yotpo_reviews__score div#example_stars {
    font-size: 17.5px;
}
.helpful_div {
    width: 40%;
    font-size: 0px;
    color: #a2a2a2;
    text-align: start;
    display: inline-block;
    font-weight: normal;
}
.yotpo_reviews__ovner_category {
    padding: 25px 0 2px 0px;
    margin: 0;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    font-size: 0;
}
.yotpo_reviews__product_name.yotpo_reviews__product_nameshare {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
span.yotpo-icon.yotpo-icon-thumbs-up:before {
    content: "\e604";
    font-family: "yotpo-widget-font" !important;
    font-size: 17.5px;
}
span.yotpo-icon.yotpo-icon-thumbs-down:before {
    content: "\e605";
    font-family: "yotpo-widget-font" !important;
    font-size: 17px;
}
span.counts_thumbs_up {
    font-size: 14px;
}
span.counts_thumbs_down {
    font-size: 14px;
}
.helpful_div_bt_res div {
    display: inline-block;
    vertical-align: middle;
}
.helpstitle {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 70%;
    text-align: right;
}
.helpful_div_bt_res {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 30%;
    text-align: right;
}
.all_customs {
    font-size: 0;
}
.all_customs {
    font-size: 0;
    margin-top: 10px;
}
.yotpo_reviews__product_name {
    margin-top: 6px;
}
li.yotpo_additional_information_tab.active a {
    background: #ca1a1d;
    color: white !important;
}
li.yotpo_returns-tab.active a {
    background: #ca1a1d;
    color: white !important;
}
p.woocommerce-result-count.clearfix {
    float: left;
}
h2 {
    display: block;
    clear: both;
}
.col-lg-12.col-md-12 {
    display: block;
    clear: both;
}
.archive .col-lg-12.col-md-12 {
    /*margin-top: 145px;*/
    /* display: none;*/
}
.all_tabs_description_page .post-ratings {
    display: none !important;
}
.next_arrows_outer .owl-item div:hover {
    color: #737373 !important;
    cursor: pointer;
}
.row.cg-shop-archive form:nth-of-type(2n) {
    /*display: none;*/
}

.row.cg-shop-archive .view-switcher:nth-of-type(1n) {
    /*display: none !important;*/
}
.row.cg-shop-archive p.woocommerce-result-count.clearfix:nth-of-type(2n) {
    /*display: none;*/
}
.row.cg-shop-archive .view-switcher:first-of-type{
    display: block !important;
}

span.yotpo-icon.yotpo-icon-circle-checkmark.yotpo-action-hover {
    display: block;
    height: 17px;
    position: absolute;
    top: 26px;
    right: 5px;
    display: block;
    width: 19px;
}
.yotpo .yotpo-icon-circle-checkmark:before {
    background: white !important;
    border-radius: 50% !important;
}
div#owlslider_1323794145 .owl-item {
    display: block;
    width: 100% !important;
    height: auto;
}
.yotpo-label_logo a:hover {
    text-decoration: none;
    color: #ed003f;
}
.textwidget .owl-wrapper-outer .owl-item {
    /*display: block !important;*/
    /*width: 100% !important;*/
}
.testimonials-wrap .owl-pagination {
    display: block !important;
}
.post-ratings:first-of-type {
//    display: none;
}
div#tab-tab-video {
    display: none;
}
div#tab-returns {
    display: none;
}

div#tab-additional_information{
    display: none;
}
.form_review {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 9px;
    margin-top: 9px;
}
.form_review.text-title {
    font-size: 20px;
}
.form_review_button {
    background: #ca1a1d;
    color: white;
    text-align: center;
    max-width: 183px;
    padding: 10px;
    margin-bottom: 45px;
}
.all_block_items.yotpo-owl-item a {
 //   color: #ca1a1d !important;
}
.all_block_items.yotpo-owl-item a {
    color: #ca1a1d;
}
.next_arrows_outer a {
    color: grey;
}
.post-ratings.pal_fin_category {
    height: 19px;
}
.post-ratings.pal_fin_category span {
    float: left;
    margin-right: 15px;
}
.post-ratings.pal_fin_category img {
    position: relative;
    top: 3px;
}
#yotpo_form_review {
    margin-top: 37px;
    margin-bottom: 40px;
    display: none;
}
#yotpo_form_review .post-ratings {
    display: block !important;
    height: 27px;
}
.testimonials-wrap .owl-stage {
    width: 100% !important;
}
.single-product-details .owl-controls.clickable div:before {
    display: none;
}
.single-product-details .owl-buttons {

    position: inherit;
    top: 0;
    margin: 0 auto;
}
.single-product-details .onsale-wrap {
    left: 9px !important;
    z-index: 10;
    width: 68px;
}
.cg-prod-gallery-thumbs {
    margin: 20px 0px 30px 0px!important;
}
.single-product-details .owl-theme .owl-controls .owl-buttons .fa-angle-right:before {
    margin-right: 0 !important;
    padding: 0;
}
.single-product-details .cg-prod-gallery .owl-theme .owl-controls .owl-buttons div {
    width: auto !important;
    height: auto !important;
    padding-top: 11px;
}
blockquote:before {
    content: "\201C" !important;
}
blockquote:after {
    content: "\201D" !important;
}
#yotpo_form_review .all_tabs_description_page .post-ratings {
    display: block !important;
}
#yotpo_form_review textarea {
    font-size: 14px;
    padding: 2px 6px 2px 12px;
    margin: 0;
    resize: none;
    width: 100%;
}
#yotpo_form_review input {
    font-size: 14px;
    padding: 2px 6px 2px 12px;
    margin: 0;
    width: 100%;
}
.yotpo-messages {
    border: solid 1px #e3e3e3;
    padding: 40px;
    text-align: center;
    position: relative;
    background: #fff;
    margin-top: 31px;
    margin-bottom: 31px;
}
.product-images .owl-buttons {
    opacity: 0;
}
.product-title-wrapper .col-lg-12.col-md-12 {
    display: block !important;
}
.product-images:hover .owl-buttons {
    opacity: 1;
    transition: 0.5s all;
}
.custom_rating_ct.textRet {
    text-align: right !important;
}
span.yotpo-icon.yotpo-icon-heart:before {
    font-family: "yotpo-widget-font" !important;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ca1a1d;
    font-size: 26px;
    display: block;
    margin-bottom: 20px;
    content: "\e60b";
}
span.title-thank-span {
    text-transform: uppercase;
    font-weight: bold;
    color: #ca1a1d;
    font-size: 21px;
    line-height: 18px;
}
.yotpo-thankyou-content span {
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal !important;
    font-size: 14px;
    line-height: 17px;
    color: #a2a2a2;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 11px;
    display: block;
}
span.yotpo-icon.yotpo-icon-cross:before {
    font-family: "yotpo-widget-font" !important;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e615";
}
span.yotpo-icon.yotpo-icon-cross {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 19px;
    color: #a2a2a2;
}



.next_arrows_outer {
    width: 80%;
    margin: 0 auto;
    max-width: 250px;
}

.next_arrows_outer .owl-carousel .owl-nav.disabled {
    top: 0;
    position: relative;
}

.next_arrows_outer .owl-carousel .owl-nav.disabled span {
    display: none;
}

















@media screen and (max-width: 995px) {

    .yotpo-label_logo {
        width: 49%;
        display: inline-block;
    }
    .helpful_div {
        display: block;
        width: 100%;
    }
    .helpstitle {
        text-align: left;
    }
    .yotpo_reviews__other {
        width: 90%;
    }
}
